
<head>
    <title></title>
    <style>
      .base_bar {
          display: inline;
          height: 10px;
      }
    </style>
</head>

<body>
<%= link_to "New Team", new_team_path %>
<%= link_to "New Pokemon In Team", new_pokemon_in_team_path %>

<h1> Your Teams </h1>
<% index = 0 %>
<% index = Trainer.find_by(id: current_user.current_trainer_id).teams.length - 1 %>
  <ul>
    <% while index >= 0%>
        <div class="row">
          <% double = 0 %>
          <% while double < 2 && index >= 0%>
            <div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> <%= Trainer.find_by(id: current_user.current_trainer_id).teams[index].name%> - <%= Trainer.find_by(id: current_user.current_trainer_id).teams[index].id%></h5>
                  
                  <p class="card=text">
                    <% team_pokemon_index = 0 %>
                    <% while team_pokemon_index < Trainer.find_by(id: current_user.current_trainer_id).teams[index].pokemons.length %>
                    <a href="/unique_pokemons/<%= Trainer.find_by(id: current_user.current_trainer_id).teams[index].unique_pokemons[team_pokemon_index].id%>"> <img src="<%= Trainer.find_by(id: current_user.current_trainer_id).teams[index].pokemons[team_pokemon_index].icon%>"/> </a>
                      <% team_pokemon_index = team_pokemon_index + 1 %>
                    <% end %>
                  </p>
                  <p class="card=text"></p>
                  <%= link_to "Go to page", Trainer.find_by(id: current_user.current_trainer_id).teams[index] %>
              </div>
            </div>
                              <p class="card=text"></p>
            <% double += 1%>
            <% index = index - 1%>  
          <% end %>
        </div>
        <p></p>
    <% end %>
  </ul>
</body>