<head>
    <title></title>
    <style>
      .base_bar {
          display: inline;
          height: 10px;
      }
      .pokemon_image {
          display: inline;
      }
    </style>
</head>

<body>
<h1> <%= @move.name %> </h1>
<div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @move.name%></h5>
          <p class="card=text"><b>Type:</b> <%= @move.move_type%> <b>Category:</b> <%= @move.category%> </p> 
          <p class="card=text"><b> PP: </b> <%= @move.pp%> <b>Power:</b> <%= @move.power%> <b>Accuracy:</b> <%= @move.accuracy%> </p> 
          <p><b>Effect Percent:</b> <%= @move.effect_percent%></p>
          <div><%= @move.description%></div>
          <p class="card=text"></p>
        </div>
</div>
<h1>Pokemon that can learn move</h1>
<%@pokemons_that_can_learn_move = @move.pokemon%>
<%@already_displayed = []%>

<%@pokemons_that_can_learn_move.each do |pokemon|%>
  <% if @already_displayed.exclude? pokemon.name %>
      <div class="pokemon_image"><a href="<%= pokemon.url%>"><img src="<%= pokemon.icon %>"></a></div>
      <% @already_displayed << pokemon.name%>
      
  <%end%>
<%end%>
</body>