<h1> Hello pokemon </h1>
<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <p><a href="<%= pokemon.url%>"> <img src="<%= pokemon.icon%>"> </a> </p>
      <p><img src="<%= pokemon.first_type_image%>"> <img src="<%= pokemon.second_type_image%>"> #<%= pokemon.national_dex_num %></p>
      <p><h3><%= pokemon.name%></h3> </p>
      <p><b> Abilities: </b> <%= pokemon.abilities%> </p>
      <p> <b> HP: </b> <%= pokemon.hp%> </p> 
      <b> Atk: </b> <%= pokemon.atk%> </p> 
      <b> Def: </b> <%= pokemon.defe%> </p> 
      <b> SpA: </b> <%= pokemon.spa%> </p> 
      <b> SpD: </b> <%= pokemon.spd%> </p> 
      <b> Spe: </b> <%= pokemon.spe%> </p>
    </li>
  <% end %>
  </ul>