
<h1> Hello pokemon </h1>
<% index = 0 %>
<ul>
  <% while index < @pokemons.length%>
      <div class="row">
        <% triple = 0 %>
        <% while triple < 3 && index < @pokemons.length%>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= @pokemons[index].name%></h5>
                <p class="card=text"><a href="<%= @pokemons[index].url%>"> <img src="<%= @pokemons[index].icon %>"> </a> </p>
                <p class="card=text"><img src="<%= @pokemons[index].first_type_image%>"> <img src="<%= @pokemons[index].second_type_image%>"> #<%= @pokemons[index].national_dex_num %></p>
                <p class="card=text"><b> Abilities: </b> <%= @pokemons[index].abilities%> </p>
                <p class="card=text"> <b> HP: </b> <%= @pokemons[index].hp.to_i%> </p> 
                <b> Atk: </b> <%= @pokemons[index].atk.to_i%> </p> 
                <b> Def: </b> <%= @pokemons[index].defe.to_i%> </p> 
                <b> SpA: </b> <%= @pokemons[index].spa.to_i%> </p> 
                <b> SpD: </b> <%= @pokemons[index].spd.to_i%> </p> 
                <b> Spe: </b> <%= @pokemons[index].spe.to_i%> </p>
              </div>
            </div>
          </div>
          <% triple += 1%>
          <% index += 1%>  
        <% end %>
      </div>
      <p></p>
  <% end %>
  </ul>