
<head>
    <title></title>
    <style>
      .base_bar {
          display: inline;
          height: 10px;
      }
    </style>
</head>

<body>
<h1> Hello pokemon </h1>
<% index = 0 %>
<ul>
  <% while index < @pokemons.length%>
      <div class="row">
        <% triple = 0 %>
        <% while triple < 3 && index < @pokemons.length%>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= @pokemons[index].name%></h5>
                <p class="card=text"><a href="<%= @pokemons[index].url%>"> <img src="<%= @pokemons[index].icon %>"> </a> </p>
                <p class="card=text"><img src="<%= @pokemons[index].first_type_image%>"> <img src="<%= @pokemons[index].second_type_image%>"> #<%= @pokemons[index].national_dex_num %></p>
                <p class="card=text"><b> Abilities: </b> <%= @pokemons[index].abilities%> </p>
                <div class="row">  
                    <div class="col-sm-3">
                      <b> HP: </b> <%= @pokemons[index].hp.to_i%> 
                    </div>
                    <div class="col-sm-9">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemons[index].hp.to_i%>>
                    </div>
                </div> 
                <div class="row">  
                    <div class="col-sm-3">
                      <b> Atk: </b> <%= @pokemons[index].atk.to_i%> 
                    </div>
                    <div class="col-sm-9">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemons[index].atk.to_i%>>
                    </div>
                </div> 
                <div class="row">  
                    <div class="col-sm-3">
                      <b> Def: </b> <%= @pokemons[index].defe.to_i%> 
                    </div>
                    <div class="col-sm-9">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemons[index].defe.to_i%>>
                    </div>
                </div> 
                <div class="row">  
                    <div class="col-sm-3">
                      <b> SpA: </b> <%= @pokemons[index].spa.to_i%> 
                    </div>
                    <div class="col-sm-9">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemons[index].spa.to_i%>>
                    </div>
                </div> 
                <div class="row">  
                    <div class="col-sm-3">
                      <b> SpD: </b> <%= @pokemons[index].spd.to_i%> 
                    </div>
                    <div class="col-sm-9">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemons[index].spd.to_i%>>
                    </div>
                </div> 
                <div class="row">  
                    <div class="col-sm-3">
                      <b> Spe: </b> <%= @pokemons[index].spe.to_i%> 
                    </div>
                    <div class="col-sm-9">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemons[index].spe.to_i%>>
                    </div>
                </div> 
                <p class="card=text"></p>
              </div>
            </div>
          </div>
          <% triple += 1%>
          <% index += 1%>  
        <% end %>
      </div>
      <p></p>
  <% end %>
  </ul>
</body>