<head>
    <title></title>
    <style>
      .base_bar {
          display: inline;
          height: 10px;
      }
    </style>
</head>

<body>
<h1> <%= @pokemon.name %> </h1>
<% index = 0 %>
<ul>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @pokemon.name%></h5>
          <p class="card=text"><a href="<%= @pokemon.url%>"> <img src="<%= @pokemon.icon %>"> </a> </p>
          <p class="card=text"><img src="<%= @pokemon.first_type_image%>"> <img src="<%= @pokemon.second_type_image%>"> #<%= @pokemon.national_dex_num %></p>
          <p class="card=text"><b> Abilities: </b> <%= @pokemon.abilities%> </p> 
          <div class="row">  
            <div class="col-sm-3" style="text-align:right;">
              HP: <b> <%= @pokemon.hp.to_i%> </b>
            </div>
            <div class="col-sm-9">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemon.hp.to_i%>>
            </div>
          </div> 
          <div class="row">  
            <div class="col-sm-3" style="text-align:right;">
              Atk: <b> <%= @pokemon.atk.to_i%> </b>
            </div>
            <div class="col-sm-9">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemon.atk.to_i%>>
            </div>
          </div> 
          <div class="row">  
            <div class="col-sm-3" style="text-align:right;">
              Def: <b> <%= @pokemon.defe.to_i%> </b>
            </div>
            <div class="col-sm-9">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemon.defe.to_i%>>
            </div>
          </div> 
          <div class="row">  
            <div class="col-sm-3" style="text-align:right;">
              SpA: <b> <%= @pokemon.spa.to_i%> </b>
            </div>
            <div class="col-sm-9">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemon.spa.to_i%>>
            </div>
          </div> 
          <div class="row">  
            <div class="col-sm-3" style="text-align:right;">
              SpD: <b> <%= @pokemon.spd.to_i%> </b>
            </div>
            <div class="col-sm-9">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemon.spd.to_i%>>
            </div>
          </div> 
          <div class="row">  
            <div class="col-sm-3" style="text-align:right;">
              Spe: <b> <%= @pokemon.spe.to_i%> </b>
            </div>
            <div class="col-sm-9">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Flag_of_Libya_%281977%E2%80%932011%2C_2-3%29.svg" class="base_bar" width=<%= @pokemon.spe.to_i%>>
            </div>
          </div> 
          <p class="card=text"></p>
        </div>
      </div>
    </div>
</ul>

  <% index = 0 %>
  <% @pokemon_movesets = Moveset.where(pokemon_name: "#{@pokemon.name}") %>
  <ul>
        <div> # of Moves: <%= @pokemon_movesets.length %></div>
    <% @pokemon_movesets.each do |pokemon_moveset|%>
      <% @pokemon_move = Move.find_by(name: pokemon_moveset.move_name) %>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= pokemon_moveset.move_name%></h5>
          <p class="card=text"><b> Acquired (lvl): </b> <%= pokemon_moveset.level_acquire%> <b>Type:</b> <%= @pokemon_move.move_type%> <b>Category:</b> <%= @pokemon_move.category%> </p> 
          <p class="card=text"><b> PP: </b> <%= @pokemon_move.pp%> <b>Power:</b> <%= @pokemon_move.power%> <b>Accuracy:</b> <%= @pokemon_move.accuracy%> </p> 
          <p><b>Effect Percent:</b> <%= @pokemon_move.effect_percent%></p>
          <div><%= @pokemon_move.description%></div>
          <p class="card=text"></p>
        </div>
      </div>
    <% index += 1 %>
    <% end %>
        
  


  </ul>
</body>